html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: inherit;
    padding: inherit;
}

.container {
    background-color: #f3f4f6;
    width: 50%;
    margin: 0 auto;
    height: 100vh;
    text-align: center;
}

.recipe {
    list-style: none;
    font-size: 30px;
    font-style: italic;
    margin-top: 30px;
}

.recipe-list {
    margin-top: 100px;
}

.recipe a:hover {
    border-bottom: #b18a67 2px solid;
}

.recipe a {
    text-decoration: none;
    color: #b18a67;
}

.title {
    font-size: 58px;
    color: #9e6430;
    padding-top: 50px;
}